.alinear-centro {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.alinear-derecha {
  text-align: right;
}

ion-content {
  --background: url('https://scontent.fscl7-1.fna.fbcdn.net/v/t31.18172-8/12484846_851376694971447_1190501401858080487_o.jpg?_nc_cat=109&ccb=1-7&_nc_sid=300f58&_nc_ohc=rgXiwb_X3G0AX-d0vjb&_nc_ht=scontent.fscl7-1.fna&oh=00_AfA8HQSekmaNlKDQZNIeHTO8oNON__JPejBbDHXwpgwPiQ&oe=656C29E4') no-repeat center center fixed;
  --background-size: 100% 100%;
  --position: absolute;
  --left: 0;
  --width: 100%;
  --height: 100vh;
  --z-index: -1;
  --margin-top: 100px; /* Ajusta el valor para mover la imagen hacia abajo */
  }